
body {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;


}
a:hover{
    color: blue;
}
a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}
.nav{
    display: flex;
    padding: 0;
    background-color: grey;
    align-items: center;
    font-family: "Work Sans";
    width: 100%;
}
.logo{
    padding: .2em 0;
    font-size: 3em;
    margin: auto;
}
.list{
    display: flex;
    list-style: none;
    font-family: "Montserat";
    justify-content: flex-start;
}

ul {
    align-items:center;

}

