body {
    display: flex;
}
a:hover{
    color: blue;
}
a{
    display: inline-block;
    padding: 1em;
}
.nav{
    display: flex;
    margin: auto;

}
.logo-div{
    font-family: ;
}
.list{
    display: flex;
    margin:auto;


}