
body {
    display: flex;
    box-sizing: border-box;


}
a:hover{
    color: blue;
}
a{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}
.nav{
    display: flex;
    margin: 0;
    background-color: grey;
    overflow: auto;
    font-family: "Work Sans";
    flex-basis: 100%;
}
.logo{
    padding: .2em 0;
    font-size: 3em;
    align-self: center;
}
.list{
    display: flex;
    list-style: none;
    font-family: "Montserat";
    justify-content: flex-start;
}

